:root {
    /* aspect ratio is 16:9 (720p) */
    --normal-trailer-height: 52vh;
    --normal-trailer-width: 116.48vh;

    --highlight-rows-height: 28vh;

    --main-background-color: #141414;

    --menu-icon-width: 1.5rem;
}


.highlightpage {
    height: 100%;
    width: 100%;
    background-color: var(--main-background-color);
}


.description {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--normal-trailer-height);
    background: var(--main-background-color);
    transition: cubic-bezier(.08,1.05,.92,.95) 1s;

    z-index: 2;
}
.description-highlight {
    width: 0%;
}
.description-normal {
    width: calc(100vw - var(--normal-trailer-width));
}
.description-details {
    position: absolute;
    left: 8vw;
    top: 2vw;
    
    transition: all 1s ease-out;
}
.description-details-highlight {
    opacity: 0;
}
.description-details-normal {
    opacity: 1;
}


.trailer {
    position: absolute;
    top: 0;
    right: 0;
    transition: cubic-bezier(.08,1.05,.92,.95) 1s;
    background-color: var(--main-background-color);
}
.trailer-highlight {
    height: 80%;
    width: 100%;
}
.trailer-normal {
    height: var(--normal-trailer-height);
    width: var(--normal-trailer-width);
}
.trailer-details {
    position: absolute;
    left: 8vw;
    bottom: 8vw;

    transition: all 1s ease-out;

    z-index: 2;
}
.trailer-details-highlight {
    opacity: 1;
}
.trailer-details-normal {
    opacity: 0;
}

.wall {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(20,20,20,1) 85%);

    background-size: cover;
    background-position: top;

    z-index: 1;

    filter: blur(4px);
}

.trailer-button {
    margin-top: 2vw;
    margin-right: 1vw;
    height: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;

    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 1.05rem;
    border: none;
    border-radius: 4px;
}
.play-icon {
    position: relative;
    top: 0.5vh;
    margin-right: 0.5vw;
}
.trailer-button:hover {
    background-color: white;
    color: black;
}

.rows {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    transition: cubic-bezier(.08,1.05,.92,.95) 1s;

    overflow-y: scroll;
    color: white;

    z-index: 2;
}
.rows-highlight {
    height: var(--highlight-rows-height);
}
.rows-normal {
    height: calc(100vh - var(--normal-trailer-height) + 6vh);
}

/* for hiding scroll */
.rows::-webkit-scrollbar {
    display: none;
}
.rows {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}