@import "../../../globalStyles/stylesConstants.css";

:root {
    --menu-icon-height: 1.5rem;
    --menu-icon-width: 1.5rem;
}

a {
    height: var(--menu-icon-height);

    text-decoration: none;
    color: var(--main-white);
}

.icon {
    height: var(--menu-icon-height);
    width: var(--menu-icon-width);

    vertical-align: middle;
    padding-right: var(--menu-icon-width);

    color: var(--main-white);
}

.title {
    transition: all 0.1s linear;
}

.title-active {
    font-weight: bold;
}

li {
    margin-top: 3vh;
    list-style: none;
}