@import "../../../globalStyles/stylesConstants.css";

:root {
    --menu-icon-height: 1.5rem;
    --menu-icon-width: 1.5rem;  

    --normal-gradient: linear-gradient(90deg, rgba(var(--main-black-rgba),1) 0%, rgba(var(--main-black-rgba),0.5) 50%,rgba(var(--main-black-rgba),0.2) 75%,rgba(var(--main-black-rgba),0.1) 90%,rgba(var(--main-black-rgba),0.01)  100%);
    --active-gradient: linear-gradient(90deg, rgba(var(--main-black-rgba),1) 0%, rgba(var(--main-black-rgba),0.8) 50%,rgba(var(--main-black-rgba),0.5) 75%,rgba(var(--main-black-rgba),0.3) 90%,rgba(var(--main-black-rgba),0.1)  100%);
}

.menu {
    height: 100vh;
    width: calc(var(--menu-icon-width) * 3);

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    transition: width 0.5s ease-out;

    background: var(--black-linear-gradient);

    z-index: 10;
}

.menu-active {
    width: calc(var(--menu-icon-width)*7);
    background: var(--active-gradient);
}

.active-profile {
    height: 20vh;
    width: calc(var(--menu-icon-width) * 7);

    position: relative;
    left: 0;
    display: block;

    padding-left: var(--menu-icon-width);
}

.navigation {
    height: 80vh;
    width: calc(var(--menu-icon-width) * 7);

    padding-left: var(--menu-icon-width);

}

