@import "../../../globalStyles/stylesConstants.css";

:root {
    --wall-gradient: radial-gradient(circle, rgba(var(--main-black-rgba),0) 0%, rgba(var(--main-black-rgba),1) 85%);
}

.wall {
    height: 100%;
    width: 100%;

    background-color: var(--wall-gradient);
    background-size: cover;
    background-position: top;
    filter: blur(3px);
}