.surprise {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorWrapper {
    width: calc(90vw + 5px);
    height: calc(90vh + 5px);
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorBlack {
    position: absolute;
    height: 8vw;
    width: 100%;
    display: flex;
}
.colorBlack-a {
    height: 100%;
    width: 50%;
    background: black;
}
.colorBlack-b {
    height: 100%;
    width: 50%;
    background: black;
}

.surprise-trailer {
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 90vw;
    background: black;
    border-radius: 10px;
}

.trailer-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    

    transition: all 0.4s ease-out;
}
.exit-hover-wrapper {
    position: absolute;
    top : 1vh;
    left: 5vh;
    height: 10vh;
    width: 10vh;
    
    transition: all 0.4s ease-out;
}
.exit-hover-wrapper:hover {
    padding-top: 5vh;
}
.exit-hover-wrapper:hover .exit-icon {
    stroke-width: 2;
}
.exit-hover-wrapper:hover .exit-text {
    font-size: 20px;
}
.exit-icon {
    border: 0px solid white;
    vertical-align: sub;
    transition: all 0.4s ease-out;
}
.exit-text {
    font-size: 15px;
    font-weight: bold;
    transition: all 0.4s ease-out;
}

.trailer-details {
    position: absolute;
    bottom: 5vh;
    left: 5vh;

    opacity: 0;
}

.surprise-interactible-left {
    height: 100vh;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    background: transparent;
    color: white;

}

.surprise-interactible-right {
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    background: transparent;
    color: white;

}

.l-icon {
    margin-left: 2vw;
    height: 5vw;
    width: 5vw;

    transition: all 0.2s ease-out;
}
.r-icon {
    margin-right: 2vw;
    height: 5vw;
    width: 5vw;

    transition: all 0.2s ease-out;
}
.l-icon:hover {
    margin-left: 1vw;
    height: 7vw;
    width: 7vw;
} 
.r-icon:hover {
    margin-right: 1vw;
    height: 7vw;
    width: 7vw;
}