:root {
    /* aspect ratio is 16:9 (720p) */
    --normal-trailer-height: 50vh;
    --normal-trailer-width: 112vh;

    --highlight-rows-height: 28vh;

    --main-background-color: #141414;
}


.highlightpage {
    height: 100%;
    width: 100%;
    background-color: var(--main-background-color);
}


.description {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--normal-trailer-height);
    background: var(--main-background-color);
    transition: cubic-bezier(.08,1.05,.92,.95) 1s;

    z-index: 3;
}
.description-highlight {
    width: 0%;
}
.description-normal {
    width: calc(100vw - var(--normal-trailer-width));
}


.trailer {
    position: absolute;
    top: 0;
    right: 0;
    transition: cubic-bezier(.08,1.05,.92,.95) 1s;
    background-color: red;
}
.trailer-highlight {
    height: 80%;
    width: 100%;
}
.trailer-normal {
    box-shadow: inset calc(var(--normal-trailer-width) / 5)
     calc(-1 * calc(var(--normal-trailer-height) / 5))
      10vh
      -30px
      var(--main-background-color);
    height: var(--normal-trailer-height);
    width: var(--normal-trailer-width);
}

.rows {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    transition: cubic-bezier(.08,1.05,.92,.95) 1s;

    overflow-y: scroll;
    color: white;
}
.rows-highlight {
    height: var(--highlight-rows-height);
}
.rows-normal {
    height: calc(100vh - var(--normal-trailer-height));
}

/* for hiding scroll */
.rows::-webkit-scrollbar {
    display: none;
}
.rows {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}