@import "../../../globalStyles/stylesConstants.css";

:root {
    --menu-icon-width: 1.5rem;
}

.category {
    color: var(--main-white);
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0.9rem;

    cursor: pointer;
}

.selected-category {
    color: var(--main-red);
    margin-left: 0.6rem;
    display: inline-block;
}

.selected-marker {
    height: 1.5rem;
    width: 0.3rem;
    display: inline-block;
    background-color: var(--main-red);
    position: relative;
    top: 0.3rem;
}