:root {
    --menu-icon-width: 1.5rem;
    --white-color: #fffff0;
    --main-background-color: #141414;
}

.category-poster {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--main-background-color);
}

.category-slideshow {
    position: relative;
    top: -10vh;
    left: -10vw;
    height: 120vh;
    width: 120vw;

    transition: top 15s linear;
    transition: left 15s linear;
}
.category-slideshow-move-left {
    top: -5vh;
    left: 0vw;
}
.category-slideshow-move-right {
    top: -15vh;
    left: -20vw;
}

.heading {
    margin-left: 0.9rem;
    color: var(--white-color);
}

.categories {
    position: absolute;
    left: calc(var(--menu-icon-width) * 7);
    top: 5vh;
}

.category-details {
    position: absolute;
    right: 7vw;
    bottom: 7vw;
}