@import "../../../globalStyles/stylesConstants.css";

.homepage {  display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1.5fr;
    grid-auto-columns: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "heading"
      "profiles"
      "buttons";
    width: 100vw;
    height: 100vh;
    background-color: var(--main-black);
}
  
.heading {
    grid-area: heading;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vw;
}

.profiles {
    grid-area: profiles;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
}
.buttons-area {
    margin-top: 2vw;
    grid-area: buttons;
    display: flex;
    width: calc(calc(12.5vw * 5) + calc(2vw * 4));
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.buttons-area2 {
    text-align: center;
}

.buttons-area2 button {
    width: 13.5vw;
    height: 3vw;
    border-radius: 0.3vw;
    outline: none;
    border: none;
    background-color: var(--row-grey);

    transition: all 0.3s ease-out;
}
.surprise-link {
    height: 100%;
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.surprise-link span {
    font-weight: bold;
    font-size: 1.4vw;

    transition: all 0.2s ease-out;
}
.surprise-link-icon {
    transition: all 0.2s ease-out;
}

.buttons-area2 button:hover {
    background-color: var(--main-white);
}
.buttons-area2 button:hover .surprise-link span {
    color: var(--main-black);
}
.surprise-link-icon {
    color: var(--main-white);
}
.buttons-area2 button:hover .surprise-link-icon {
    fill: url(#gradient);
}

.profile-icon-wrapper {
    margin-top: 2vw;
}
.profile-icon-wrapper2 {
    color: var(--row-grey);
}
.profile-icon {
    border: 3px solid var(--row-grey);
    border-radius: 50%;
    padding: 3px;
}
.profile-icon-wrapper2:hover {
    color: var(--main-white);
}
.profile-icon-wrapper2:hover .profile-icon {
    border-color: var(--main-white);
}