@import "../../../globalStyles/stylesConstants.css";

.profile {
    margin-right: 1vw;
    margin-left: 1vw;
    text-align: center;
}
.box {
    height: 12.5vw;
    width: 12.5vw;
    border-radius: 1vh;
    border: 3px solid var(--main-black);

    transition: all 0.8s ease-out;
}

.text {
    margin-top: 2vw;
}

.profile:hover .box{
    border-color: var(--main-white);
    
}