.main {
    background-color: #141414;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.wrapper {
    height: 90vh;
    width: 90vw;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#ec5058, #e40914);
    z-index: 6;
}

.slider-thumb1::before {
	position: absolute;
	content: "";
	left: 60%;
	top: 30%;
	width: 70vh;
	height: 70vh;
	background: #141414;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape1 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape1 5s linear infinite;
}
@keyframes sliderShape1{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}